<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TPServletJstlJsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitCatalogue</display-name>
    <servlet-name>InitCatalogue</servlet-name>
    <servlet-class>servlet.InitCatalogue</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitCatalogue</servlet-name>
    <url-pattern>/InitCatalogue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficheCatalogueJSP</display-name>
    <servlet-name>AfficheCatalogueJSP</servlet-name>
    <servlet-class>servlet.AfficheCatalogueJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficheCatalogueJSP</servlet-name>
    <url-pattern>/AfficheCatalogueJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficheCatalogueJSTL</display-name>
    <servlet-name>AfficheCatalogueJSTL</servlet-name>
    <servlet-class>servlet.AfficheCatalogueJSTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficheCatalogueJSTL</servlet-name>
    <url-pattern>/AfficheCatalogueJSTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouteAuPanier</display-name>
    <servlet-name>AjouteAuPanier</servlet-name>
    <servlet-class>servlet.AjouteAuPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouteAuPanier</servlet-name>
    <url-pattern>/AjouteAuPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficheProduit</display-name>
    <servlet-name>AfficheProduit</servlet-name>
    <servlet-class>servlet.AfficheProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficheProduit</servlet-name>
    <url-pattern>/AfficheProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AffichePanier</display-name>
    <servlet-name>AffichePanier</servlet-name>
    <servlet-class>servlet.AffichePanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffichePanier</servlet-name>
    <url-pattern>/AffichePanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VidePanier</display-name>
    <servlet-name>VidePanier</servlet-name>
    <servlet-class>servlet.VidePanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VidePanier</servlet-name>
    <url-pattern>/VidePanier</url-pattern>
  </servlet-mapping>
</web-app>